$MarginTop: 10px;
$InputPadding: 14px 0 14px 18px;
$MarginBottom: 10px;
$BorderRadius: 10px;
$ColorBorder: red;
$BorderSize: 2px;
$InputBorderSize: 1px;
$SelectBorderSize: 1px;
$FontWeight: 400;
$FontSize: 15px;
$TextColor: #2A2A2A;
$Opacity: 0.45;
$BackgroundColorForm: #E3E3E3;
$FormWidth: 320px;
$FormPadding: 10px;
$BackGroundButtonDis: grey;
$BackGroundButColor: white;
$TransitionTime: 0.7s;
$BoxShadowParam: 1px 1px 5px 5px #F9A43F;
$ButtonTextColor: #ffffff;